<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto en Vue Js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="./app.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">





        <!-- CLASES ANTERIORES

        <div>
            <my-component> </my-component>
            </br>
            <h1>A mano</h1>
            <product-gride 
                name="London" 
                id="000" 
                product-photo="./images/london.jpg"> 
            </product-gride>
            </br>
            <h1>V For</h1>
            <product-gride v-for="(item, i) in products" :key="i"
                :name="item.name"
                :id="item.id"
                :product-photo="item.productPhoto" :alt="item.name">
            </product-gride>
        </div>

        <div class="first-div">
            <h1>{{ welcomeMessage }}</h1>
            <p>Con Método: {{ a }} x {{ b }} = {{ calculatorMethod() }}</p>
            <p>Con Computed: {{ a }} x {{ b }} = {{ calculatorComputed }}</p>
            <button v-on:click="calculatorDirective()">¡Hacé click!</button>
        </div>
        <div>
            <p>Con v-text: <span v-text="subtitle"></span></p>
            <p>Con v-html: <span v-html="subtitle"></span></p>    
        </div>
        <div>
            <img v-bind:src="photo" v-bind:alt="altText" :style="{'width':'150px'}">
            <br>
            <input type="text" v-model="defaultText">
            <p> {{ defaultText }} </p>
        </div>
        <div>
            <div class="conditional" v-if="showGreeting">
                <h2>¡Hola, V-if!</h2> 
            </div>
            <div class="conditional" v-else>
                <h2>¡Hola, V-else!</h2> 
            </div>
        </div>
        <div>
            <div class="conditional" v-if="showConditional == 1">
                <h3>Soy el condicional if</h3>
            </div>
            <div class="conditional" v-else-if="showConditional == 2">
                <h3>Soy el condicional else-if</h3>
            </div> 
            <div class="conditional" v-else="">
                <h3>Soy el condicional else</h3>
            </div> 
        </div>
        <div>
            <div class="conditional" v-show="showGreeting">
                <h2>¡Hola, V-show!</h2> 
            </div>
        </div>
        <div class="conditional">
            <button @click="changeButton()"> {{ buttonText }}</button>
            <p v-if="showMessage">Soy el párrafo mágico</p>
        </div>
        <ul>
            <li class="product" :class="classForTable(i)" v-for="(item,i) in products" :key="i">
                <span> {{ item.id }} </span>
                <span> {{ item.name }} </span>
                <span>
                    <img :src="item.productPhoto" :alt="item.name" :style="{'width':'25px'}">
                </span>
            </li>
        </ul>
        <div>
            <p :class="ccsStyle">Renderizando estilos</p>
        </div>
        -->

    </div>
</body>
</html>